# Default owners are Eventing WG leads and TOC
* @knative-sandbox/technical-oversight-committee
* @knative-sandbox/knative-release-leads
# Last match takes precedence for reviews
* @knative-sandbox/eventing-writers

# hack and test are owned by productivity
/hack/* @knative-sandbox/productivity-wg-leads
/test/* @knative-sandbox/productivity-wg-leads
